@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$green: rgba(0, 78, 0, 0.39);

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	transition: 0.2s;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(0, 128, 0, 0.171);
	width: 80%;
}

html {
	width: 100vw;
	height: 100vh;
	position: relative;
	// background-color: black;
}

input {
	&[type=number], &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
}