.wrapper {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin: auto;
	justify-content: center;
	align-items: center;
	& .nav {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
		background-color: rgb(44, 44, 44);
		& img {
			transform: translate(10px, 0);
		}
		& h1 {
			font-size: 70px;
			font-weight: 300;
			color: rgba(255,255,255,0.87);
		}
	}
	& .container {
		display: flex;
		justify-content: space-between;
		width: 1200px;
		height: 700px;
		& .packagesSearchContainer {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 500px;
		}
	}
}