.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
	& .header {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: baseline;
		margin-bottom: 40px;
		padding-bottom: 20px;
		background-color: rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0, 128, 0, 0.171);
		& img {
			transform: translate(10px, 13px);
		}
		& h1 {
			font-size: 70px;
			font-weight: 300;
		}
	}
	& .container {
		display: flex;
		justify-content: space-between;
		width: 90%;
		height: 55vh;
		overflow: hidden;
	}
	& .instructions {
		& p {
			color: rgba(0,0,0,0.6);
			margin: auto;
			margin-top: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			width: fit-content;
			
		}
	}
}