.container {
    display: flex;
    flex-direction: column;
    height: 45%;
    & .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 10px;
    }
    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 5px;
        & li {
            display: flex;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 5px;
            gap: 20px;
            cursor: pointer;
            & > div {
                background-color: rgba(0, 78, 0, 0.39);
                width: 80px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            & p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
            }
            &:hover > div {
                background-color: rgba(0, 78, 0, 0.5);
            }
        }
    }
}